<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <servlet-class>AdminLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCandidate</servlet-name>
        <servlet-class>CreateCandidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Createelection</servlet-name>
        <servlet-class>Createelection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateElection1</servlet-name>
        <servlet-class>CreateElection1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateVoter</servlet-name>
        <servlet-class>CreateVoter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateParty</servlet-name>
        <servlet-class>CreateParty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateVoterId</servlet-name>
        <servlet-class>CreateVoterId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdmin</servlet-name>
        <servlet-class>LoginAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userlogout</servlet-name>
        <servlet-class>userlogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/AdminLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCandidate</servlet-name>
        <url-pattern>/CreateCandidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Createelection</servlet-name>
        <url-pattern>/Createelection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateElection1</servlet-name>
        <url-pattern>/CreateElection1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateVoter</servlet-name>
        <url-pattern>/CreateVoter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateParty</servlet-name>
        <url-pattern>/CreateParty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateVoterId</servlet-name>
        <url-pattern>/CreateVoterId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdmin</servlet-name>
        <url-pattern>/LoginAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userlogout</servlet-name>
        <url-pattern>/userlogout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
